body{
	font-size: 20px;
	font-size: 2rem;
	line-height: 1.3;
}

.col-l-12{
	width: 98.148148%; /* 1060/1080*/
	margin: auto;
}

.col-l-9{
	width: 73.148148148%; /* 790/1080 */
	margin: 0 0.925925926%;
	float: left;
}

.col-l-6{
	width: 48.148148148%; /* 520/1080*/
	margin: 0 0.925925926%;
	float: left;
}

.col-l-4{
	width: 31.481481481%; /* /1080*/
	margin: 0 0.925925926%;
	float: left;
}

.col-l-3{
	width: 23.148148148%; /* 250/1080*/
	margin: 0 0.925925926%;
	float: left;
}